*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: #ff2965;
}
textarea{
    width: 600px;
    height: 250px;
    background: #403d84;
    color: white;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
Textarea::placeholder {
    color: yellow;
    font-size: 15px;
}
.row{
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    /* align items at the top */
    align-items: center; 
    gap: 20px;
}
button{
    background: #ff2965;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 35px;
    display: flex;
    align-items: center;
}
button img{
    height: 100%;
    margin-right: 10px;
    width: 18px;
}
select{
    flex: 1;
    color: white;
    background: #403d84;
    height: auto;
    padding: 10 20px;
    line-height: 3;
    font-size: 15px;
    outline: 0;
    border: 0;
    border-radius: 25px;
    appearance: none;
    background-image: url("dropdown.png");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: calc(100% - 20px) center;
    width: 100%;
}
.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

/* Media Query for smaller screens */
@media (max-width: 768px){
    textarea {
        width: 90%;
    }
    .row{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}